#
# These groups are read by MariaDB server.
# Use it for options that only the server (but not clients) should see

# this is only for the mysqld standalone daemon
[mysqld]

#
# * Basic Settings
#

port					= 3306
user					= root
basedir					= /usr
datadir					= /var/lib/mysql/
socket					= /run/mysqld/mysqld.sock
pid-file				= /run/mysqld/mysqld.pid

# Instead of skip-networking the default is now to listen only on
# localhost which is more compatible and is not less secure.

bind-address            = 0.0.0.0